
body{
  background: black;
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#cuadrado{
  background: gray;
  color: black;
  border-radius: 20px;
  border: 2px solid #25262E;
  position: absolute;
  margin: 30px;
  padding: 30px;
}

header{
  background: dimgray;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}

.perfil{
  background: dimgray;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  border: 2px solid black;
  position: relative;
  left: 15%;
}

img{
  border-radius: 50px;
  border: 2px solid black;
  position: absolute;
  margin: 15%;
}

#nombre{
  background: #23232D;
  text-align: center;
  color: gray;
  font-size: 10px;
  border-radius: 5px;
}

.container{
  background: dimgray;
  border: 1px solid black;
  border-radius: 10px;
}

.title{
  background: #23232D;
  width: 200px;
  text-align: center;
  color: gray;
}

footer{
  background: black;
  border-radius: 20px;
  color: white;
}

.despedida{
  width: 200px;
  background: dimgray;
  text-align: center;
  font-family: monospace;
  position: relative;
  left: 20px;
}

.boton{
  position: relative;
  left: 40%;
  bottom: 10px;
}

.boton button{
  background: #0000003D;
  border: none;
  border-radius: 20px;
  border: 1px solid black;
}

.boton button a{
  color: white;
  text-decoration: none;
}

.parrafo{
  text-align: center;
}

footer{
  background: black;
  color: white;
  text-align: center;
  position: relative;
}